{% extends "base.twig" %}

{% block content %}
    <section class="max-w-[1380px] mx-auto mt-40 mb-40 grid-cols-[200px_minmax(900px,_1fr)_100px] grid">
        <aside>
            <div>
                {{ include('post-filter.twig') }}
            </div>
        </aside>
        <section class="columns-3 gap-8" id="response">
            {% for post in posts %}
                {{ post.name }}
            {% endfor %}
        </section>
    </section>
{% endblock %}