{% extends "base.twig" %}
{% block content %}
    <p class="text-custom-orange text-sm font-light mb-3">Hi, my name is</p>
    <h1 class=" text-6xl text-custom-gray leading-none font-semibold">Jan Hylke van Erkel.</h1>
    <h1 class="text-6xl text-custom-darkgray font-semibold mb-2">I build things for the web.</h1>
    <p class="text-custom-lightgray max-w-[500px] font-OpenSans">I specialize in WordPress development and have solid skills in HTML, CSS, JavaScript, PHP, Twig and Timber. I thrive on creating aesthetically pleasing, functional digital experiences.</p>
    <button>More about me</button>
{% endblock %}

