{% extends "base.twig" %}

{% block content %}
<p style="color: #ff9d20; font-weight:400; margin-bottom: 14px;">Hi, my name is</p>
<h1 style="line-height: 68px; font-size: 60px; color: #bdbfc3; font-weight:600;">Jan Hylke van Erkel.</h1>
<h1 style="font-size: 60px; color: #60666f; font-weight:600;">I build things for the web.</h1>
{% endblock %}