{% extends "base.twig" %}

{% block content %}
    <div class="banner bg-gray-300">
        <div class="banner_wrapper p-20 max-w-[780px] text-black">
            <h1 class="text-h1">{{ post.meta('banner_title') }}</h1>
            <p class="">{{ post.meta('banner_text') }}</p>
        </div>
    </div>
{% endblock %}